* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url(imagens/fundoBody.jpg);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-top: 0.2vh;
  background-color: #c4bebb;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
header .logo .logo-site {
  width: 10%;
}
header .logo h1 {
  font-size: 2.5vw;
}
header .nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: groove black 5px;
  border-bottom: solid black 2px;
  background-color: #666CD9;
}
header .nav-header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header .nav-header ul li {
  font-size: 1.2vw;
}
header .nav-header ul li a:link {
  color: rgb(132, 208, 125);
}
header .nav-header ul li a:visited {
  color: rgb(132, 208, 125);
}
header .nav-header ul li a:hover {
  color: rgb(97, 158, 91);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 255vh;
}

.container-bem-vindo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 10vh;
  border: solid #4E52A6 2px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #666CD9;
}
.container-bem-vindo h2 {
  font-size: 2vw;
}
.container-bem-vindo p {
  font-size: 1.2vw;
}

.container-centro {
  display: flex;
  justify-content: space-between;
  width: 98vw;
}

.container-reviews-recentes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 78.5vw;
  height: 215vh;
  border: solid #4E52A6 5px;
  border-radius: 50px;
  background-color: #666CD9;
}
.container-reviews-recentes h2 {
  font-size: 2vw;
}
.container-reviews-recentes .container-display-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200vh;
}
.container-reviews-recentes .container-display-reviews article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
  height: 20vh;
  border: solid #4E52A6 5px;
  border-radius: 50px;
  background-color: #989999;
}
.container-reviews-recentes .container-display-reviews article .capa-jogo {
  width: 15vw;
  border-radius: 50px;
}
.container-reviews-recentes .container-display-reviews article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
  border-left: solid black 1px;
}
.container-reviews-recentes .container-display-reviews article div h3 {
  font-size: 1.5vw;
}
.container-reviews-recentes .container-display-reviews article div .imagem-estrelas {
  width: 10vw;
}
.container-reviews-recentes .container-display-reviews article div p {
  font-size: 0.9vw;
}

.container-top-10 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 18.5vw;
  height: 215vh;
  border-radius: 50px;
  border: solid #4E52A6 5px;
  background-color: #666CD9;
}
.container-top-10 h2 {
  font-size: 1.5vw;
}
.container-top-10 li {
  margin-top: 5px;
}
.container-top-10 figcaption {
  font-size: 1.1vw;
}
.container-top-10 img {
  width: 15vw;
  border-radius: 50px;
}

.container-jogando-atualmente {
  width: 98vw;
  height: 28vh;
  border: solid #4E52A6 5px;
  border-radius: 50px;
  background-color: #666CD9;
}
.container-jogando-atualmente .container-display-jogando-atualmente {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-jogando-atualmente .container-display-jogando-atualmente figure {
  width: 15%;
}
.container-jogando-atualmente .container-display-jogando-atualmente figcaption {
  font-size: 20px;
}
.container-jogando-atualmente .container-display-jogando-atualmente img {
  width: 15vw;
  border-radius: 50px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  margin-top: 1vh;
  border: solid #4E52A6 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #666CD9;
}
footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 13%;
}
footer nav .imagem-rede {
  width: 3vw;
}
footer p {
  font-size: 1.1vw;
}
footer .imagem-vnw {
  width: 3vw;
}/*# sourceMappingURL=style.css.map */