* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    text-decoration: none;
}
body {
    background-image: url(imagens/fundoBody.jpg);
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-top: 0.2vh;
    background-color:#c4bebb;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        .logo-site { width: 10%; }
        h1 { font-size: 2.5vw; }
    }
    .nav-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: groove black 5px;
        border-bottom: solid black 2px;
        background-color: #666CD9;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            li {
                font-size: 1.2vw;
                a:link { color: rgb(132, 208, 125); }
                a:visited { color: rgb(132, 208, 125); }
                a:hover { color: rgb(97, 158, 91); }
            }
        }
    }
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 255vh;
}
.container-bem-vindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10vh;
    border: solid #4E52A6 2px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #666CD9;
    h2 { font-size: 2vw; }
    p { font-size: 1.2vw; }
}
.container-centro {
    display: flex;
    justify-content: space-between;
    width: 98vw;
}
.container-reviews-recentes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 78.5vw;
    height: 215vh;
    border: solid #4E52A6 5px;
    border-radius: 50px;
    background-color:#666CD9;
    h2 { font-size: 2vw; }
    .container-display-reviews {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200vh;
        article {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 75vw;
            height: 20vh;
            border: solid #4E52A6 5px;
            border-radius: 50px;
            background-color: #989999;
            .capa-jogo {
                width: 15vw;
                border-radius: 50px;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 55vw;
                border-left: solid black 1px;
                h3 { font-size: 1.5vw; }
                .imagem-estrelas { width: 10vw; }
                p { font-size: 0.9vw; }
            }
        }
    }
}
.container-top-10 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 18.5vw;
    height: 215vh;
    border-radius: 50px;
    border: solid #4E52A6 5px;
    background-color: #666CD9;
    h2 { font-size: 1.5vw; }
    li { margin-top: 5px; }
    figcaption { font-size: 1.1vw; }
    img {
        width: 15vw;
        border-radius: 50px;
    }
}
.container-jogando-atualmente {
    width: 98vw;
    height: 28vh;
    border: solid #4E52A6 5px;
    border-radius: 50px;
    background-color: #666CD9;
    .container-display-jogando-atualmente {
        display: flex;
        justify-content: space-around;
        align-items: center;
        figure {
            width: 15%;
        }
        figcaption {
            font-size: 20px;
        }
        img {
            width: 15vw;
            border-radius: 50px;
        }
    }
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    margin-top: 1vh;
    border: solid #4E52A6 2px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #666CD9;
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 13%;
        .imagem-rede { width: 3vw; }
    }
    p { font-size: 1.1vw; }
    .imagem-vnw { width: 3vw; }
}